---
import Layout from "@/layouts/Layout.astro";

import {Button} from "@/components/ui/button";
import UserTypeInput from "@/components/UserTypeInput.astro";
---

<Layout title="Neby - Register">
	<main class="h-svh">
		<div class="h-svh py-8 grid place-content-center">
			<div class="flex flex-col justify-between w-fit max-h-svh px-32 py-20 bg-white shadow-xl overflow-y-auto">
				<h1 class="text-6xl font-bold text-center mb-12">Crear Cuenta</h1>
				<form class="flex flex-col flex-1">
					<label class="flex flex-col text-xl font-semibold gap-2 mb-6"
						>Email
						<input class="border-2 border-black rounded-lg text-base p-1.5" id="register-email" type="email" />
					</label>
					<label class="flex flex-col text-xl font-semibold gap-2 mb-6"
						>Nombre de usuario
						<input class="border-2 border-black rounded-lg text-base p-1.5" id="register-username" type="text" />
					</label>
					<label class="flex flex-col text-xl font-semibold gap-2 mb-6"
						>Contrase침a
						<input class="border-2 border-black rounded-lg text-base p-1.5" id="register-password" type="password" />
					</label>
					<label class="flex flex-col text-xl font-semibold gap-2 mb-6"
						>Confirmar contrase침a
						<input class="border-2 border-black rounded-lg text-base p-1.5" id="register-confirm-password" type="password" />
					</label>
					<div class="flex flex-col text-xl font-semibold gap-2 mb-6">
						<label>Tipo de usuario</label>
						<UserTypeInput id="register-user-input" />
					</div>
					<label class="flex flex-col text-xl font-semibold gap-2 mb-6"
						><span id="register-community-label">C칩digo de comunidad</span>
						<input class="border-2 border-black rounded-lg text-base p-1.5" id="register-community-name-or-code" type="text" />
					</label>
					<Button className="w-fit place-self-center mt-10 px-7 py-7 font-semibold text-lg shadow-lg flex flex-row gap-4" id="register-submit">
						<svg class="size-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
							<path stroke="none" d="M0 0h24v24H0z"></path>
							<path d="M8 7a4 4 0 1 0 8 0 4 4 0 0 0-8 0M16 19h6M19 16v6M6 21v-2a4 4 0 0 1 4-4h4"></path>
						</svg>
						Crear Cuenta
					</Button>
				</form>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		background-image: url("/background.jpg");
	}

	main > div {
		scrollbar-color: #eaeaea white;
	}
</style>

<script>
	const form = document.querySelector<HTMLFormElement>("form");

	const emailInput = document.querySelector<HTMLInputElement>("#register-email");
	const usernameInput = document.querySelector<HTMLInputElement>("#register-username");
	const passwordInput = document.querySelector<HTMLInputElement>("#register-password");
	const confirmPasswordInput = document.querySelector<HTMLInputElement>("#register-confirm-password");
	const communityNameOrCodeInupt = document.querySelector<HTMLInputElement>("#register-community-name-or-code");

	let userType = "neighbor";

	const submitButton = document.querySelector<HTMLButtonElement>("#register-submit");

	form?.addEventListener("submit", e => e.preventDefault());

	window.addEventListener("usertypestatechange", (e: any) => {
		userType = e.detail;
		const communityLabel = document.querySelector<HTMLLabelElement>("#register-community-label");
		communityLabel!.innerText = userType == "admin" ? "Nombre de la comunidad" : "C칩digo de comunidad";
	});

	submitButton?.addEventListener("click", async () => {
		if (passwordInput?.value != confirmPasswordInput?.value) return;

		type UserData = {
			password: string;
			username: string;
			email: string;
			type: string;
			community_name?: string;
			community_code?: string;
		};

		const user: UserData = {
			password: passwordInput!.value,
			username: usernameInput!.value,
			email: emailInput!.value,
			type: userType
		};

		if (userType == "admin") user["community_name"] = communityNameOrCodeInupt?.value;
		else if (userType == "neighbor") user["community_code"] = communityNameOrCodeInupt?.value;

		const res = await fetch("/api/auth/register", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify(user)
		});

		const data = await res.json();

		console.log(data);
	});
</script>
