---
import {cn} from "@/lib/utils";

interface Props {
	id?: string;
	class?: string;
}

const {id, class: className} = Astro.props;
---

<div id={id} class={cn("flex flex-row justify-center items-center w-full rounded-lg overflow-hidden border-2 border-foreground bg-foreground", className)}>
	<button id="register-neighbor-button" class="rounded-none flex-1 py-3 px-4 font-semibold text-base bg-background text-foreground transition-all hover:bg-gray-200 selected">Vecino</button>
	<button id="register-admin-button" class="rounded-none flex-1 py-3 px-4 font-semibold text-base bg-background text-foreground transition-all hover:bg-gray-200">Administrador</button>
</div>

<style>
	button.selected {
		color: #ffffff;
		background-color: hsl(190 68% 12%);
	}
</style>

<script>
	const neighborButton = document.querySelector<HTMLInputElement>("#register-neighbor-button");
	const adminButton = document.querySelector<HTMLInputElement>("#register-admin-button");

	adminButton?.addEventListener("click", () => {
		neighborButton?.classList.remove("selected");
		adminButton?.classList.add("selected");
		updateStateAndDispatchEvent("admin");
	});

	neighborButton?.addEventListener("click", () => {
		adminButton?.classList.remove("selected");
		neighborButton?.classList.add("selected");
		updateStateAndDispatchEvent("neighbor");
	});

	const updateStateAndDispatchEvent = (type: string) => {
		const event = new CustomEvent("usertypestatechange", {detail: type});
		window.dispatchEvent(event);
	};
</script>
